@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px solid red; */
}

html {
    font-size: 62.5%;
}

.header {
    width: 100%;
    min-height: 100vh;
    background: #000942;
    /* position: absolute; */
    /* background: #000B18; */
    /* padding-left: 11%;
    padding-right: 8%; */
    /* position: relative; */
    background-image: url(../img/photo.png);
    background-size: 38%;
    background-repeat: no-repeat;
    background-position: 92% 100%;
    scroll-snap-align: start;

}

/* --------------menu button--------- */
#menu-icon {
    width: 60px;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

/* -----------top nav------------ */
.top-nav {
    position: fixed;
    /* max-width: 100%; */
    left: 175px;
    right: 150px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0 1.5rem;
    border-bottom: 1px solid #bababa;
}

.top-nav ul li {
    list-style: none;
    display: inline-block;
    margin: 1rem 3rem 1rem 0px;
}

.top-nav ul li a {
    text-decoration: none;
    /* color: white; */
    font-size: 1.5rem;
    font-weight: 700;
    background: linear-gradient(#00bcd4, #e91e63, #3f51b5, #00bcd4);
    background-size: 100% 500%;
    background-position: 0 40%;
    animation: backcolor 20s linear infinite reverse;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav ul li a:hover {
    color: white;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav button {
    font-size: 1.4rem;
    /* background: #e91e63; */
    background: linear-gradient(#00bcd4, #e91e63, #3f51b5, #00bcd4);
    background-size: 100% 500%;
    background-position: 0 40%;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 3rem;
    padding: 1rem 2rem;
    cursor: pointer;
    animation: backcolor 20s linear infinite reverse;
}

.top-nav button:hover {
    background: #e91e63;

}
@keyframes backcolor {
    0% {
        background-position: 0 0%;
    }

    100% {
        background-position: 0 400%;
    }
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* //CSS FOR CUSTOM SCROOLBAR */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#00bcd4, #e91e63, #3f51b5, #00bcd4);
    background-size: 100% 500%;
    background-position: 0 40%;
    border-radius: 7.5px;
}


/* ----------------responsiveness--------------- */
@media(min-width:768px) and (max-width:1000px) {
    html {
        font-size: 50%;
    }
}

@media(min-width:0px) and (max-width:768px) {
    html {
        font-size: 40%;
    }
    #menu-icon {
        display: block;
        width: 7.5rem;
        left: 2.5rem;
    }

    .top-nav button {
        font-size: 30px;
        font-weight: 500;

        border-radius: 40px;
        padding: 10px 40px;
        margin-top: 50px;
    }

    #menuBox {
        width: 0;
        height: 0;
        background: black;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        border-bottom-right-radius: 100%;
        transition: width 0.5s, height 0.5s, border-radius 0.5s;
        z-index: 1;
    }

    #menuBox ul {
        display: flex;
        flex-direction: column;
    }

    #menuBox ul li {
        opacity: 0;
        transform: translateY(30px);
        list-style: none;
        margin: 10px;
        text-align: center;

    }

    #menuBox ul li a {
        text-decoration: none;
        display: inline-block;
        color: white;
        font-size: 35px;
        font-weight: 600;
        position: relative;
        /* text-shadow: 0px 0px 0 rgba(0, 0, 0, 0); */
        transition: text-shadow 0.5s, transform 0.5s;

    }

    /* #menuBox ul li a:hover{
        text-shadow: -3px 3px 0 rgb(0, 0, 0);
        transform: translateY(-6px);
    } */

    #menuBox.open-menu {
        width: 100%;
        height: 100vh;
        border-bottom-right-radius: 0;
    }

    #menuBox.open-menu ul li {
        opacity: 1;
        transform: translateY(0);
        transition: transform 1s, opacity 1s;
        transition-delay: 0.5s;
    }
}
@media(min-width:0px) and (max-width:550px) {
    html {
        font-size: 30%; 
    }
    /* //CSS FOR CUSTOM SCROOLBAR */
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background: #d1e5ff;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(#00bcd4, #e91e63, #3f51b5, #00bcd4);
        background-size: 100% 500%;
        background-position: 0 40%;
        border-radius: 3.5px;
    }
}

@media(min-width:0px) and (max-width:360px) {
    html {
        font-size: 28%;
    }
}